/* =========================
   SALVA - STYLE PRINCIPAL
   ========================= */


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {

    background: #f8f6f2;
    color: #222;

    font-family: 'Montserrat', sans-serif;

    font-weight: 300;

}


/* TIPOGRAFÍAS */

h1,
h2,
h3,
.logo a {

    font-family: 'Cormorant Garamond', serif;

}


/* LINKS */

a {

    text-decoration: none;
    color: inherit;

}


/* =========================
        HEADER
   ========================= */


header {

    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    background: rgba(248,246,242,0.85);

    backdrop-filter: blur(10px);

    position: fixed;

    top: 0;
    left: 0;

    z-index: 1000;

    border-bottom: 1px solid rgba(0,0,0,0.08);

}


/* LOGO */

.logo a {

    font-size: 42px;

    letter-spacing: 12px;

    font-weight: 700;

}


/* NAV */

nav {

    display: flex;

    gap: 45px;

}


nav a {

    font-size: 13px;

    text-transform: uppercase;

    letter-spacing: 3px;

    position: relative;

    transition: .3s;

}


nav a::after {

    content: "";

    position: absolute;

    bottom: -8px;

    left: 0;

    width: 0%;

    height: 1px;

    background: #111;

    transition: .3s;

}


nav a:hover::after {

    width: 100%;

}


nav a:hover {

    color: #777;

}


/* ACCIONES */


.acciones {

    display: flex;

    gap: 25px;

    font-size: 14px;

}


/* =========================
          HERO
   ========================= */


.hero {

    height: 100vh;

    background:

    linear-gradient(
        rgba(0,0,0,.25),
        rgba(0,0,0,.25)
    ),

    url("../img/hero.jpg");


    background-size: cover;

    background-position: center;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

}


.hero-texto {

    color: white;

    max-width: 850px;

    animation: aparecer 1.2s ease;

}


.hero-texto p {

    letter-spacing: 8px;

    font-size: 14px;

    margin-bottom: 30px;

}


.hero-texto h1 {

    font-size: 110px;

    line-height: .9;

    font-weight: 600;

    margin-bottom: 30px;

}


.hero-texto span {

    font-size: 18px;

    line-height: 2;

}


.btn {

    display: inline-block;

    margin-top: 30px;

    background: white;

    color: black;

    padding: 18px 45px;

    text-transform: uppercase;

    letter-spacing: 3px;

    font-size: 12px;

    transition: .4s;

}


.btn:hover {

    background: black;

    color:white;

}


/* =========================
       CATEGORIAS
   ========================= */


.categorias {

    padding: 120px 8%;

}


.categorias h2,
.destacados h2 {

    text-align:center;

    font-size:60px;

    margin-bottom:70px;

}


.grid-categorias {

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}


.categoria {

    overflow:hidden;

    position:relative;

}


.categoria img {

    width:100%;

    height:500px;

    object-fit:cover;

    transition:.6s;

}


.categoria:hover img {

    transform:scale(1.08);

}


.categoria h3 {

    position:absolute;

    bottom:30px;

    left:30px;

    color:white;

    font-size:40px;

}


/* =========================
       PRODUCTOS
   ========================= */


.destacados {

    padding:100px 8%;

}


.productos {

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

}


.producto {

    background:white;

    padding-bottom:30px;

    text-align:center;

    overflow:hidden;

}


.producto img {

    width:100%;

    height:520px;

    object-fit:cover;

    transition:.5s;

}


.producto:hover img {

    transform:scale(1.05);

}


.producto h3 {

    font-size:32px;

    margin-top:25px;

}


.producto p {

    margin:15px;

    color:#777;

}


.producto a {

    display:inline-block;

    border-bottom:1px solid black;

    padding-bottom:5px;

    text-transform:uppercase;

    font-size:12px;

    letter-spacing:2px;

}


/* =========================
       NOSOTROS
   ========================= */


.nosotros {

    background:white;

    padding:120px 15%;

    text-align:center;

}


.nosotros h2 {

    font-size:70px;

    margin-bottom:30px;

}


.nosotros p {

    font-size:18px;

    line-height:2;

    color:#555;

}


/* =========================
       NEWSLETTER
   ========================= */


.newsletter {

    padding:100px 10%;

    text-align:center;

}


.newsletter h2 {

    font-size:60px;

}


.newsletter form {

    margin-top:40px;

}


.newsletter input {

    width:350px;

    padding:18px;

    border:1px solid #ccc;

}


.newsletter button {

    padding:18px 35px;

    border:none;

    background:black;

    color:white;

    cursor:pointer;

}


/* =========================
          FOOTER
   ========================= */


footer {

    background:#111;

    color:white;

    padding:70px;

    text-align:center;

}


footer h2 {

    font-size:55px;

    letter-spacing:10px;

}


footer a {

    margin:20px;

    color:#aaa;

}


/* ANIMACION */


@keyframes aparecer {

    from {

        opacity:0;

        transform:translateY(40px);

    }

    to {

        opacity:1;

        transform:translateY(0);

    }

}